@model HospitalProject.Entities.Contact
<div class="Emergency_contact">
    <div class="conatiner-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
                    <div class="info">
                        <h3>Acil durum için</h3>
                        <p>Aşağıdaki numarayı arayın.</p>
                    </div>
                    <div class="info_button">
                        <a href="#" class="boxed-btn3-white">@Model.Phone</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
                    <div class="info">
                        <h3>Online Randevu</h3>
                        <p>Randevu almak için butona tıklayın.</p>
                    </div>
                    <div class="info_button">
                        <a href="#" class="boxed-btn3-white">Randevu al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>